# AI API Keys
OPENAI_API_KEY=your_openai_api_key
FRIENDLI_TOKEN=your_friendli_api_key

# AWS Bedrock
AWS_BEARER_TOKEN_BEDROCK="your_aws_bearer_token_bedrock"

# Database (MySQL)
DB_HOST=localhost
DB_PORT=3307 #docker 이용
DB_USER=root
DB_PASSWORD=root #docker 이용
DB_NAME=consultation_db

# Elasticsearch
ES_URL=http://localhost:9200
ES_USER=elastic
ES_PASSWORD=your_es_password

KAFKA_BOOTSTRAP_SERVERS=localhost:29092
KAFKA_CONSUMER_GROUP_ID=consultation-group
KAFKA_AUTO_OFFSET_RESET=earliest